<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>树窝管理后台</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="/static/admin/styles/vendor.7bfed6d7.css">
  <link rel="stylesheet" href="/static/admin/styles/main.6dfb0e1c.css">
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=Nk7qHUGmUpWXZs6GXzIE6FWT"></script>
</head>
<body ng-app="shuwoAdminApp">
<div ui-view></div>
<!--[if lt IE 9]>
<script src="/static/admin/scripts/oldieshim.a466b7b1.js"></script>
<![endif]-->

<script src="/static/admin/scripts/vendor.8d11ed48.js"></script>

<script src="/static/admin/scripts/scripts.acecbe54.js"></script>
</body>
</html>
