<!doctype html>
<html class="no-js" ng-app="shuwoApp" ng-controller="BaseCtrl">
<head>
  <meta charset="utf-8">
  <title>树窝水果</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="/static/user/styles/vendor.8414e1bb.css">
  <link rel="stylesheet" href="/static/user/styles/main.c617b81a.css">
  <script type="text/javascript" src="http://api.map.baidu.com/api?type=quick&ak=Nk7qHUGmUpWXZs6GXzIE6FWT&v=1.0"></script>
</head>
<body>
<!-- Add your site or application content here -->
<div class="container-fluid">
  <div ui-view></div>
</div>

<script src="/static/user/scripts/vendor.e51119ad.js"></script>
<script src="/static/user/scripts/scripts.4dd1774b.js"></script>
</body>
</html>
