<h3>添加产品分类</h3>

<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-default">
      <div class="panel-heading">添加产品分类</div>
      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <label>分类名称</label>
            <input type="text" placeholder="输入分类名称" class="form-control" ng-model="category.categoryname">
          </div>
          <button type="submit" class="btn btn-success btn-block" ng-click="saveCategory();">保存</button>
        </form>
      </div>
    </div>
  </div>
</div>
