<h3>添加产品</h3>

<div class="row">
  <div class="col-lg-5">
    <div class="panel panel-default">
      <div class="panel-heading">添加产品</div>
      <div class="panel-body">
        <form role="form" name="addStoreForm">
          <div class="form-group">
            <label>产品名称</label>
            <input type="text" placeholder="输入产品名称" class="form-control" ng-model="product.productname" required>
          </div>
          <div class="form-group">
            <label>原价（每500g或每个）</label>
            <input type="number" step="any" placeholder="产品原价" class="form-control" ng-model="product.price" required>
          </div>
          <div class="form-group">
            <label>销售价格（每500g或每个）</label>
            <input type="number" step="any" placeholder="销售价格" class="form-control" ng-model="product.discount" required>
          </div>
          <div class="form-group">
            <label>产品分类</label>
            <select class="form-control" ng-model="product.category" ng-options="category as category.label for category in categories"></select>
          </div>
          <div class="form-group">
            <label>计价方式</label>
            <select class="form-control" ng-model="product.attribute" ng-options="opt as opt.label for opt in options"></select>
          </div>
          <div class="form-group" ng-show="product.attribute.value==1">
            <label>单个产品均重（g）</label>
            <input type="number"  step="any" placeholder="单个产品均重" class="form-control" ng-model="product.unitweight">
          </div>
          <div class="form-group">
            <label>销售单位</label>
            <input type="text" placeholder="销售单位" class="form-control" ng-model="product.unit">
          </div>
          <div class="form-group">
            <label>是否在售</label><br />
            <label class="switch">
              <input type="checkbox" ng-model="product.issale">
              <span></span>
            </label>
          </div>
          <div class="form-group">
            <label>产品图片</label>
            <img ng-src="{{product.pimgurl}}" alt="" width="100" ng-show="product.pimgurl"/>
            <div ng-controller="UploadCtrl" id="container">
              <a class="btn btn-block btn-default" id="upload-btn"><i class="fa fa-upload"></i> 上传图片</a>
            </div>
          </div>
          <button type="submit" class="btn btn-success btn-block" ng-click="saveProduct();" ng-disabled="!addStoreForm.$valid">保存</button>
        </form>
      </div>
    </div>
  </div>
</div>
